<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery-3.6.1.min.js"></script>

</head>
<body>

<p>If you click on the "Hide" button, I will disappear.</p>
<button id="hide">Hidden</button>
<button id="show">Show</button>

<script>

    $(document).ready(function () {

        $("#hide").click(function () {  
            $("p").hide();
        })
    })
    $(document).ready(function () {

        $("#show").click(function () {
            $("p").show().css("color","red");
        })
    })

</script>
</body>
</html>