<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<a href="/add">Thêm mới</a>
<table class="table table-hover">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Title</td>
        <td colspan="3"></td>
    </tr>
    <tr th:each="blog : ${blog}">
        <td th:text="${blog.id}" th:name="id"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.tittle}"></td>
        <td><a th:href="@{/update/{id}(id=${blog.id})}" class="btn-primary btn">update</a></td>
        <td><a th:href="@{/detail/{id}(id=${blog.id})}">detail</a></td>
        <td><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
               th:attr="onclick= |deleteModal('${blog.id}','${blog.name}')|">delete</a></td>
    </tr>
</table>

<!-- Button trigger modal -->

<form id="delete" action="/remove" method="post">
    <input hidden name="remove" id="idRemoved">
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input readonly id="takeId">
                <input readonly id="takeName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" th:onclick="|confirm()|" id="yes">delete</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/bootstrap.min.js"></script>
<script>
    function deleteModal(id, name) {
        document.getElementById("takeId").value = id;
        console.log(id)
        document.getElementById("takeName").value = name;
        console.log(name)
        document.getElementById("idRemoved").value = id;
    }

    function confirm() {
        document.getElementById("delete").submit();
    }
</script>

</body>
</html>