<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/furama_css/create.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<section>
    <div id="container">
        <div id="color"></div>
        <div id="input">
            <h2>Thêm Mới Khách Hàng</h2>
            <form action="/customer/create" method="post" th:object="${customer}">
                <table>
                    <tr>
                        <td>Tên khách hàng</td>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td>Ngày sinh</td>
                        <td><input th:field="*{dateOfBirth}" type="date"></td>
                    </tr>
                    <tr>
                        <td>Giới tính:</td>
                        <td><select th:field="*{gender}">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>CMND/CCCD:</td>
                        <td><input th:field="*{idCard}" type="text"></td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td><input th:field="*{phoneNumber}" type="text"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input th:field="*{email}" type="text"></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td><input th:field="*{address}" type="text"></td>
                    </tr>
                    <tr>
                        <td>Loại khách:</td>
                        <td><select name="" id="" th:field="*{customerType}">
                            <option th:each="customerTypes : ${customerTypesList}"
                                    th:value="${customerTypes.customer_type_id}"
                                    th:text="${customerTypes.customer_type_name}">
                            </option>
                        </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-light">Back To List</button>
                            <button class="btn btn-primary" type="submit">save</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</section>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>