
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial SansSerif;
}

header{
    height: 60px;
    line-height: 60px;
    background-color:#636464 ;
}
.banner{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: end;
    color: cornsilk;
}

.banner .menu ul{
    list-style-type: none;
}

.banner .menu ul li{
    float: left;
    width: 100px;
    text-align: center;

}

.banner .menu ul li a{
    color: white;
    text-decoration: none;
}

.banner .menu ul li a:hover{
    color: black;
}