<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng đang sử dụng dịch vụ</title>
    <link rel="stylesheet" href="/furama_css/fragment.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/furama_css/customer.css">

</head>
<body>
<nav th:replace="~{layout/fragment::header}"></nav>

<section id="customer_list">
    <table class="table table-striped table-hover">
        <tr>
            <td colspan="2"><a href="/facility/add" class="btn btn-primary  " id="create">Create</a></td>
            <th colspan="4">Danh Sách khách hàng </th>
            <form action="/contract/customer_use_facility">
                <td colspan="3">
                    <div id="search">
                        <input type="text" style="display: inline-block" name="nameCustomer"
                               placeholder="tìm kiếm theo tên">
                        <button type="submit">search</button>
                    </div>
                </td>
            </form>
        </tr>
        <tr>
            <td>#</td>
            <td>Dịch vụ</td>
            <td>Khách hàng</td>
            <td>Ngày bắt đầu</td>
            <td>Ngày kết thúc</td>
            <td>Tiền đặt cọc</td>
            <td>Tổng tiền</td>
            <td colspan="3">Các dịch vụ đi kèm</td>
        </tr>
        <tr th:each="contract,row : ${contracts}">
            <td th:text="${row.count}"></td>
            <td th:text="${contract.facility.nameFacility}"></td>
            <td th:text="${contract.customer.name}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${contract.deposit}"></td>
            <td th:text="${contract.deposit} + ${contract.facility.cost}"></td>
            <td><a href="" class="btn btn-primary ">+</a>
                <a href="" class="btn btn-primary ms-3">Danh sách các dịch vụ đi kèm</a>
            </td>
            <!--            <td><a class="btn btn-danger border-white " data-bs-toggle="modal"-->
            <!--                   data-bs-target="#exampleModal"-->
            <!--                   th:attr="onclick=|deleteModal('${facilitys.idFacility}','${facilitys.nameFacility}')|">delete</a>-->
            <!--            </td>-->
            <!--            <td><a th:href="@{/facility/edit/{id}(id=${contract.idFacility})}" class="btn btn-primary border-white">Update</a>-->
            <!--            </td>-->
            <!--            <td><a href="" class="btn btn-success border-white">Detail</a></td>-->
        </tr>

                <tr>
                    <td colspan="9" class="text-center">
                        <div>
                            <a th:href="@{/contract/customer_use_facility(page = ${contracts.number - 1},
                               keyword = ${days})}" id="back"
                               th:if="${contracts.hasPrevious()}">
                                Previous
                            </a>
                            <b><span th:text="${contracts.number + 1}"></span>
                                /
                                <span th:text="${contracts.totalPages}"></span></b>
                            <a th:href="@{/contract/customer_use_facility(page = ${contracts.number + 1},
                                           keyword = ${days})}" id="next"
                               th:if="${contracts.hasNext()}">
                                Next
                            </a>
                        </div>
                    </td>
                </tr>
    </table>
</section>

<form action="/facility/delete" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xoá khách hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <input readonly name="id" type="text" id="idRemove">
                    </p>
                    <p>
                        <input readonly type="text" id="titleRemove">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div th:replace="~{layout/fragment::footer}"></div>
<div th:replace="~{layout/fragment::js}"></div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>