<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng đang sử dụng dịch vụ</title>
    <link rel="stylesheet" href="/furama_css/fragment.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/furama_css/customer.css">
</head>
<body>
<nav th:replace="~{layout/fragment::header}"></nav>
<section id="customer_list">
    <table class="table table-striped table-hover">
        <tr>
            <td colspan="2"><a href="/facility/add" class="btn btn-primary  " id="create">Create</a></td>
            <th colspan="4">Danh Sách Hợp Đồng</th>
            <form action="/contract/customer_use_facility">
                <td colspan="3">
                    <div id="search">
                        <input type="text" style="display: inline-block" name="nameCustomer"
                               placeholder="tìm kiếm theo tên">
                        <button type="submit">search</button>
                    </div>
                </td>
            </form>
        </tr>
        <tr>
            <td>#</td>
            <td>Dịch vụ</td>
            <td>Khách hàng</td>
            <td>Ngày bắt đầu</td>
            <td>Ngày kết thúc</td>
            <td>Tiền đặt cọc</td>
            <td>Tổng tiền</td>
            <td colspan="3">Các dịch vụ đi kèm</td>
        </tr>
        <tr th:each="contract,row : ${contracts}">
            <td th:text="${row.count}"></td>
            <td th:text="${contract.facility.nameFacility}"></td>
            <td th:text="${contract.customer.name}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${contract.deposit}"></td>
            <td th:text="${contract.deposit} + ${contract.facility.cost}"></td>
            <td><a href="" class="btn btn-primary ">+</a>
                <a href="" class="btn btn-primary ms-3" data-bs-toggle="modal" id="contract"
                   th:attr="onclick=|getContractDetail(${contract.idContract})|"  data-bs-target="#exampleModal">Danh sách các dịch vụ đi kèm</a>
            </td>
        </tr>

        <tr>
            <td colspan="9" class="text-center">
                <div>
                    <a th:href="@{/contract/customer_use_facility(page = ${contracts.number - 1},
                               keyword = ${days})}" id="back"
                       th:if="${contracts.hasPrevious()}">
                        Previous
                    </a>
                    <b><span th:text="${contracts.number + 1}"></span>
                        /
                        <span th:text="${contracts.totalPages}"></span></b>
                    <a th:href="@{/contract/customer_use_facility(page = ${contracts.number + 1},
                                           keyword = ${days})}" id="next"
                       th:if="${contracts.hasNext()}">
                        Next
                    </a>
                </div>
            </td>
        </tr>
    </table>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dách dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: #00CCCC">
                <table class="table table-hover m-0">
                    <thead>
                    <tr>
                        <td>STT</td>
                        <td>Số lượng</td>
                        <td>Dịch vụ đi kèm</td>
                    </tr>
                    </thead>
                    <tbody id="contractDetail">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/fragment::footer}"></div>
<div th:replace="~{layout/fragment::js}"></div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>

<script>
    function getContractDetail(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/restContractDetail/list/" + id,
            success: function (contractDetails) {
                let htmlStr = '';
                for (let i = 0; i < contractDetails.length; i++) {
                    htmlStr += `<tr>
                        <td>${i + 1}</td>
                        <td>${contractDetails[i].quantity}</td>
                        <td>${contractDetails[i].attachFacility.nameAttachFacility}</td>
                    </tr>`;
                }
                $("#contractDetail").html(htmlStr);
                console.log(htmlStr);
            },
            error: function (resultError) {
            }
        });
    }
</script>

</body>
</html>