<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"><h1 class="text-center mb-5">Danh Sách Hoa</h1></div>
    </div>
    <div class="row">
        <div class="col" th:each="product : ${products}">
            <div class="card" style="width: 18rem;">
                <img th:src="${product.img}" class="card-img-top" alt="..." style="width: 100%; height: 250px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">#<span th:text="${product.id}"></span></li>
                    <li class="list-group-item" th:text="${product.price}">A second item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">Create Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>