<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa dịch vụ</title>
    <link rel="stylesheet" href="/furama_css/facility.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
</head>
<body>
<h2 class="text-center">UPDATE FACILITY</h2>
<div class="container-fluid d-flex justify-content-center">
    <form th:object="${facility}" style="width: 550px" th:action="@{/facility/create}" method="post">
        <div class="mb-4">
            <label class="form-label" for="type_facility">Loại dịch vụ</label>
            <select name="" th:field="*{facilityType}" id="type_facility"
                    style="width: 100% ; font-size: 16px ; color:#666666;padding: 7px">
                <option th:each="facilityType : ${facilityTypes}"
                        th:text="${facilityType.nameFacilityType}"
                        th:value="${facilityType.idFacilityType}" th:id="${facilityType.idFacilityType}"></option>
            </select>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control" th:field="*{idFacility}" readonly/>
            <label class="form-label" for="form4Example1">ID</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="form4Example2" class="form-control" th:field="*{nameFacility}"/>
            <label class="form-label" for="form4Example2">Nhập tên dịch vụ</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form4Example3" class="form-control" th:field="*{area}"/>
            <label class="form-label" for="form4Example3">Nhập diện tích</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form4Example4" class="form-control" th:field="*{cost}"/>
            <label class="form-label" for="form4Example4">Chi phí thuê</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form4Example5" class="form-control" th:field="*{maxPeople}"/>
            <label class="form-label" for="form4Example5">Số người tối đa</label>
        </div>

        <div class="form-outline mb-4" id="standardRoom_row">
            <input type="text" id="form4Example6" class="form-control" th:field="*{standardRoom}" value="null"/>
            <label class="form-label" for="form4Example6">Tiêu chuẩn phòng</label>
        </div>

        <div class="form-outline mb-4" id="poolArea_row">
            <input type="text" id="form4Example8" class="form-control" th:field="*{poolArea}" value="null"/>
            <label class="form-label" for="form4Example8">Diện tích hồ bơi</label>
        </div>

        <div class="form-outline mb-4" id="numberFloor_row">
            <input type="text" id="form4Example9" class="form-control" th:field="*{numberFloors}" value="null"/>
            <label class="form-label" for="form4Example9">Số tầng</label>
        </div>

        <div class="form-outline mb-4" id="facilityFree_Row">
            <input type="text" id="form4Example10" class="form-control" th:field="*{facilityFree}" value="null"/>
            <label class="form-label" for="form4Example10">Dịch vụ miễn phí đi kèm </label>
        </div>

        <div class=" mb-4">
            <label class="form-label">mả kiểu thuê</label>
            <select name="" th:field="*{rentType}" style="width: 100% ; font-size: 16px ; color:#666666;padding: 7px">
                <option th:each="rentTypes : ${rentType}" th:text="${rentTypes.nameRentType}"
                        th:value="${rentTypes.idRentType}"></option>
            </select>
        </div>

        <div class="form-outline mb-4" id="description_row">
            <textarea id="form4Example7" class="form-control" th:field="*{description}" value="null"/> </textarea>
            <label class="form-label" for="form4Example7">Mô tả</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
        <a href="/facility/list_facility" class="btn btn-secondary" style="width: 100%">Back To List</a>
    </form>
</div>

<nav th:replace="~{layout/fragment::footer}"></nav>

<script src="/js/mdb.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script>
    selectType()

    $("#type_facility").change(function () {
        selectType()
    })

    function selectType() {
        let type = document.getElementById("type_facility").value;
        switch (type) {
            case "1"  :
                $("#standardRoom_row").show()
                $("#description_row").show()
                $("#poolArea_row").show()
                $("#numberFloor_row").show()
                $("#facilityFree_Row").hide()
                break;
            case "2":
                $("#standardRoom_row").show()
                $("#description_row").show()
                $("#poolArea_row").hide()
                $("#numberFloor_row").show()
                $("#facilityFree_Row").hide()
                break;
            case "3":
                $("#standardRoom_row").hide()
                $("#description_row").hide()
                $("#poolArea_row").hide()
                $("#numberFloor_row").hide()
                $("#facilityFree_Row").show()
                break;
        }
    }
</script>
</body>
</html>