<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Đăng kí</h1>
<form action="/create" method="post" th:object="${user}">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}">
    <div th:errors="*{firstName}"></div>
    <br>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}">
    <div th:errors="*{lastName}"></div>
    <br>
    <label>Phone:</label>
    <input type="text" th:field="*{phoneNumber}">
    <div th:errors="*{phoneNumber}"></div>
    <br>
    <label>age:</label>
    <input type="date" th:field="*{age}">
    <br>
    <div th:errors="*{age}"></div>
    <label>Email:</label>
    <input type="text" th:field="*{email}">
    <div th:errors="*{email}"></div>
    <br>
    <button type="submit">save</button>
</form>
</body>
</html>