
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#customer_list {
    height: 100vh;
    width: 100%;
    background: #66CCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    text-transform: uppercase;
}

table {
    position: relative;
    margin: 100px;
}

table tr th {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: cornsilk;
}

table tr td {
    font-weight: 500;
    color: white;
}

#back {
    text-decoration: none;
    color: cornsilk;
    padding: 5px 10px;
    background-color: green;
    border-radius: 10px 0 0 10px;
}

#next {
    text-decoration: none;
    color: cornsilk;
    padding: 5px 22px;
    background-color: green;
    border-radius: 0 10px 10px 0;
}

b {
    color: white;
    margin: 10px;
}

#create {
    margin: 15px 40px;
    background-color: forestgreen;
}

#search {
    margin: 20px auto;

}

#search td input {
    border-radius: 15px 0 0 15px;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-bottom: 4px solid #666666;
    border-right: 2px solid #666666;
}

#search button {
    margin-left: 0;
    border-radius: 0 15px 15px 0;
    padding: 5px 5px;
    outline: none;
    border: none;
    opacity: .5;
    font-size: 16px;
    border-bottom: 4px solid #666666;
    border-right: 2px solid #666666;

}
