
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
}

#customer_list {
    height: 100vh;
    width: 100%;
    background: #66CCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    text-transform: uppercase;
}

table {
    position: relative;
    margin: 100px;
}

table a {
    box-shadow: 2px 1px 10px white;
}

table tr th {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: cornsilk;
}

table tr td {
    font-weight: 500;
    color: white;
}

#back {
    text-decoration: none;
    color: cornsilk;
    padding: 5px 10px;
    background-color: green;
    border-radius: 10px 0 0 10px;
}

#next {
    text-decoration: none;
    color: cornsilk;
    padding: 5px 22px;
    background-color: green;
    border-radius: 0 10px 10px 0;
}

b {
    color: white;
    margin: 10px;
}

#create {
    margin: 15px 40px;
    background-color: forestgreen;
}

#search {
    padding: 20px;
    font-size: 18px;
}

#search input {
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    padding: 5px 15px;
    color: #636464;
    border-top: 2px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

#search button {
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 15px;
    color: green;
    font-weight: bolder;
    border-top: 3px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
}