
table.villa #facilityFree_Row {
    display: none;
}

table.house #facilityFree_Row, #poolArea_row {
    display: none;
}

table.room #standardRoom_row, #poolArea_row, #numberFloor_row {
    display: none;
}

