* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;

}

.banner_frm {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bgr2.jpg");
    background-size: cover;
}

/*#content_frm{*/
/*    background-color: #A8A8A8;*/
/*    opacity: .5;*/
/*}*/

.banner_frm #content_frm    {
    position: absolute;
    max-width: 900px;
    text-align: center;
    animation: content 5s ;
}

@keyframes content {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.banner_frm #content_frm h2 {
    font-size: 5em;
    font-weight: bold;
    text-shadow: 1px 2px white, -1px -1px #333;
    color: #14866f;

}

.banner_frm #content_frm p {
    font-weight: bolder;
    color: #14866f;
    font-size: 24px;
    text-shadow: 1px 1px white, -1px -1px #333;
}

.btn_frm {
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #ff0157;
    color: white;
    transition: 0.5s;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 20px;
}


.btn_frm:hover {
    letter-spacing: 4px;
    color: white;
}

#card1 {
    margin: auto;
    width: 90%;
    border: none;
    box-shadow: 1px 1px 10px #E8E8E8;
    display: flex;
}
/*------------------------------------------------*/
.title {
    color: #555555;
    text-align: center;
    font-weight: bold;
    margin: 120px 0;
    text-shadow: 1px 1px 5px DarkGray;
    scroll-margin-top:100px ;

}

.title span {
    color: #FF0066;
    font-size: 50px;
}

.entertainment_card {
    margin:60px auto;
    width: 90%;
    gap: 40px;
}

.entertainment_card .card {
    box-shadow: 1px 1px 10px #D0D0D0;
}

/*-----------------------*/
.cards_a{
    border-right: 1px solid Silver;
}


.img_card{
   width: 100%;
;
}