<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">Quay lại </a>
<form action="/saveCreate" method="post" th:object="${music}">
    <input type="text" hidden th:field="*{id}">
    <p>Tên bài hát: <input type="text" th:field="*{name}"></p>
    <p>Tên tác giả <input type="text" th:field="*{musician}"></p>
    <p>Link <input type="text" th:field="*{link}"></p>
    <p>Thể loại <input type="text" th:field="*{typeOfMusic}"></p>
    <p>
        <button type="submit">save</button>
    </p>
</form>
</body>
</html>