<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Trang update sản phẩm</p>
<a href="/">Quay về trang list</a>
<form action="/saveUpdate" method="post" th:object="${music}">
    <input type="text" hidden th:field="*{id}">
    <p>Tên bài hát <input type="text" th:field="*{name}" ></input></p>
    <p>Tác giả <input type="text" th:field="*{musician}" ></input></p>
    <p>Link <input type="text" th:field="*{link}" ></input></p>
    <p>Thể loại <input type="text" th:field="*{typeOfMusic}" ></input></p>
    <p><button type="submit">Lưu</button> </p>
</form>
</body>
</html>