<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/save" method="post" th:object="${product}">
    <div>Name: <p><input type="text" th:field="*{productName}"></p></div>
    <div>Price: <p><input type="text" th:field="*{price}"></p></div>
    <div>describe:<p><input type="text" th:field="*{description}"></p></div>
    <div>producer:<p><input type="text" th:field="*{producer}"></p></div>
    <button type="submit">save</button>
</form>
</body>
</html>