<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update" method="post" th:object="${product}">
    <div>id: <p><input type="text" readonly th:field="*{id}"></p></div>
    <div>Name: <p><input type="text" th:field="*{productName}"></p></div>
    <div>Price: <p><input type="text" th:field="*{price}"></p></div>
    <div>describe:<p><input type="text" th:field="*{description}"></p></div>
    <div>producer:<p><input type="text" th:field="*{producer}"></p></div>
    <button type="submit">remove</button>
</form>
</body>
</html>