<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<form action="/">
    <input type="text" name="productName">
    <button type="submit">search</button>
</form>
<a href="/add">Thêm mới</a>
<table class="table table-striped table-hover">
    <tr>
        <td>Mã sản phẩm</td>
        <td>Tên sản phẩm</td>
        <td>Giá sản phẩm</td>
        <td>Mô tả sản phẩm</td>
        <td>Nhà sản xuất</td>
        <td colspan="2">Chức năng</td>
    </tr>
    <tr th:each="product,rowStat : ${product}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/edit(id=${product.id})}">update</a></td>
        <td><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
               th:onclick="|callModal('${product.id}','${product.productName}')|">delete</a></td>
    </tr>
</table>
<form id="delete" action="/remove" method="post">
    <input hidden name="remove" id="idRemoved">
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input readonly id="takeId" >
                <input readonly id="takeName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" th:onclick="|confirm()|" id="yes">delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    function callModal (id, name){
        document.getElementById("takeId").value=id;
        console.log(id)
        document.getElementById("takeName").value=name;
        console.log(name)
        document.getElementById("idRemoved").value=id;
    }
    function confirm(){
        document.getElementById("delete").submit();
    }
</script>
</body>
</html>
