<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/furama_css/home.css">
    <link rel="stylesheet" href="/furama_css/fragment.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<span th:replace="fragment::header"></span>
<section id="bgr_frm">
    <div class="banner_frm" id="banner_frm">
        <div id="content_frm">
            <h2>Furama Danang</h2>
            <br>
            <p>All 198 rooms & suites have polished timber floors, natural fabrics, comfortable cane furniture,
                plantation style shutters and ceiling fans. Each room also has its own balcony or spacious terrace
                providing complete privacy and with a superb view of the ocean, the tropical garden or the freshwater
                swimming lagoon pool.
            </p>
            <br>
            <a href="#" class="btn_frm" >View Room</a>
        </div>
    </div>
</section>
<div id="introduce" ></div>
<h1 class="title"><span>A</span>bout Us</h1>
<div class="container-fluid" >
    <div class="row">
        <div class="col">
            <div class="card" id="card1">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/furama_css/img3.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-danger">KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI FURAMA ĐÀ NẴNG, TỰ HÀO LÀ KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT NAM</h5>
                            <p class="card-text">Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế
                                giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ
                                hai đến bốn phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền thống
                                của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh giá nhất tại Việt Nam –
                                vinh dự được đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các nhà lãnh
                                đạo kinh doanh quốc tế.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="intertai"></div>
<h1 id="vinh2" class="title"><span>E</span>ntertainment</h1>
<section id="card2">
    <div class="card-group entertainment_card">
        <div class="card">
            <img src="https://cdn.azvd.asia/images/furama/tien-ich2-2.jpg" class="card-img-top vinh2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://savingbooking.com/wp-content/uploads/2021/07/193292351_10161396847841151_7943747807237702201_n.jpg" class="card-img-top vinh2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://bazantravel.com/cdn/medias/uploads/68/68071-lan-bien-cu-lao-cham.jpg" class="card-img-top vinh2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="card-group entertainment_card">
        <div class="card">
            <img src="https://cdn.azvd.asia/images/furama/tien-ich2-2.jpg" class="card-img-top vinh2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://savingbooking.com/wp-content/uploads/2021/07/193292351_10161396847841151_7943747807237702201_n.jpg" class="card-img-top vinh2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://bazantravel.com/cdn/medias/uploads/68/68071-lan-bien-cu-lao-cham.jpg" class="card-img-top vinh2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</section>
<h1 id="room" class="title"><span>R</span>oom</h1>
<div th:replace="fragment::js"></div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>